### Heroes Of Pymoli Data Analysis

-Overall, the 20-24 year age group contributes the most to total revenue at 64.16%. This is also the largest demographic at 44.79%, yeilding a per capita spending of 41.64% above the average ($3.05/person). This means that 20-24 year olds are a very important demographic.

-The highest spending group per capita was the 35-39 year olds, spending on average 56.07% more than the average ($3.05/person). They are small portion of the player base (5.38% of players) and do not generate a large portion of revenue (6.21% of Total Revenue). This means that drawing in more players in this age range could be highly profitable.

-Of the 5 users that spent the most money, 4 of them were in the 20-24 age group, though of their purchases only two items from the Most Profitable Items and Most Popular Items lists appeared, once each from different users (Oathbreaker, Last Hope of the Breaking Storm and Nirvana). This means that the people that spend the most do not necessarily purchase the most popular or expensive items.


-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join('Resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# New DataFrame that stores the total number of unique players
total_player = pd.DataFrame([{'Total Players':len(purchase_df['SN'].unique())}])
total_player

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# New DataFrame that stores the Purchasing Analysis(Total) requirements
purchasing_analysis_total = pd.DataFrame([{
    'Number of Unique Items':len(purchase_df['Item ID'].unique()),
    'Average Price':purchase_df['Price'].mean(),
    'Number of Purchases':len(purchase_df['Purchase ID']),
    'Total Revenue':purchase_df['Price'].sum()
    }])

# Format the DataFrame
purchasing_analysis_total['Average Price'] = purchasing_analysis_total['Average Price'].map("${:.2f}".format)
purchasing_analysis_total['Total Revenue'] = purchasing_analysis_total['Total Revenue'].map("${:,.2f}".format)

# Show summary
purchasing_analysis_total

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# New DataFrame to store gender divided data
male_df = purchase_df.loc[purchase_df['Gender'] == 'Male',:]
female_df = purchase_df.loc[purchase_df['Gender'] == 'Female',:]
other_df = purchase_df.loc[purchase_df['Gender'] == 'Other / Non-Disclosed',:]

In [6]:
# Variables to hold total number of unique SNs by gender
numMales = len(male_df['SN'].unique())
numFemales = len(female_df['SN'].unique())
numOther = len(other_df['SN'].unique())

# Summary DataFrame storing Gender Demographics requirements
gender_demo = pd.DataFrame({
    'Total Count':[numMales, numFemales, numOther],
    'Percentage of Players':[
        (numMales/total_player.iloc[0,0]*100),
        (numFemales/total_player.iloc[0,0]*100),
        (numOther/total_player.iloc[0,0]*100)]},
        index = ['Male', 'Female', 'Other/Non-Disclosed'])

# Format DataFrame
gender_demo['Percentage of Players'] = gender_demo['Percentage of Players'].map("{:.2f}%".format)
gender_demo.index.name = 'Gender'

# Show summary
gender_demo

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# New DataFrame to store requirements for Purchasing Analysis(Gender)
pur_analysis_gender = pd.DataFrame({
    'Purchase Count':[
        len(male_df),
        len(female_df),
        len(other_df)],
    'Total Purchase Value':[
        male_df['Price'].sum(),
        female_df['Price'].sum(),
        other_df['Price'].sum()],
    'Average Purchase Price':[
        (male_df['Price'].sum() / len(male_df)),
        (female_df['Price'].sum() / len(female_df)),
        (other_df['Price'].sum() / len(other_df))],
    'Avg Total Purchase per Person':[
        (male_df['Price'].sum() / numMales),
        (female_df['Price'].sum() / numFemales),
        (other_df['Price'].sum() / numOther)]},
    index = ['Male', 'Female', 'Other/Non-Disclosed'])

# Format DataFrame
pur_analysis_gender['Average Purchase Price'] = pur_analysis_gender['Average Purchase Price'].map("${:.2f}".format)
pur_analysis_gender['Total Purchase Value'] = pur_analysis_gender['Total Purchase Value'].map("${:,.2f}".format)
pur_analysis_gender['Avg Total Purchase per Person'] = pur_analysis_gender['Avg Total Purchase per Person'].map("${:.2f}".format)
pur_analysis_gender.index.name = 'Gender'

# Show summary
pur_analysis_gender

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Male,652,"$1,967.64",$3.02,$4.07
Female,113,$361.94,$3.20,$4.47
Other/Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Define bins and group names to divide data with
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Make a DataFrame with no duplicate SNs
binned_df = purchase_df.drop_duplicates(subset='SN')

# Divide data into bins
binned_df['Binned Ages'] = pd.cut(binned_df['Age'], bins, labels=group_names)
bin_counts = binned_df['Binned Ages'].value_counts()

# Make and populate summary DataFrame
age_demo_df = pd.DataFrame({
    'Total Count':bin_counts,
    'Percentage of Players':bin_counts/total_player.iloc[0,0]*100},
    index=group_names)

# Format DataFrame
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].map("{:.2f}%".format)
age_demo_df.index.name = 'Age Group'

# Show summary
age_demo_df

C:\Users\eck_b\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Bin original DataFrame
all_ages_df = purchase_df
all_ages_df['Binned Ages'] = pd.cut(all_ages_df['Age'], bins, labels=group_names)

# Variables to store info for easy use later
pcAll = all_ages_df.groupby('Binned Ages')['Purchase ID'].count()
tpvAll = all_ages_df.groupby('Binned Ages')['Price'].sum()

# Make and populate summary DataFrame
purchase_analysis_age_df = pd.DataFrame({
    'Purchase Count': pcAll,
    'Total Purchase Value': tpvAll,
    'Average Purchase Price': tpvAll / pcAll,
    'Avg Total Purchase per Person': tpvAll / binned_df.groupby('Binned Ages')['SN'].count()
})

# Format DataFrame
purchase_analysis_age_df['Average Purchase Price'] = purchase_analysis_age_df['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_age_df['Total Purchase Value'] = purchase_analysis_age_df['Total Purchase Value'].map("${:,.2f}".format)
purchase_analysis_age_df['Avg Total Purchase per Person'] = purchase_analysis_age_df['Avg Total Purchase per Person'].map("${:.2f}".format)
purchase_analysis_age_df.index.name = 'Age Group'

# Show Summary
purchase_analysis_age_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group by SN
user_group = purchase_df.groupby('SN')

# Variables to store values for easy access later
user_purchases = user_group['Purchase ID'].count()
user_total = user_group['Price'].sum()
user_avg = user_total / user_purchases

# Create DataFrame
top_spenders_df = pd.DataFrame({
    'Purchase Count':user_purchases,
    'Average Purchase Price':user_avg,
    'Total Purchase Value':user_total},
    index = binned_df['SN'])

# Format DataFrame
top_spenders_df = top_spenders_df.sort_values('Total Purchase Value', ascending=False)
top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:.2f}".format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:.2f}".format)

# Show summary
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Make DataFrame with necessary columns
items_df = purchase_df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and by Name
item_groups = items_df.groupby(['Item ID', 'Item Name'])

# Variables to hold data for easy use later
pur_count = item_groups['Price'].count()
tot_pur_value = item_groups['Price'].sum()
item_price = item_groups['Price'].mean()

# DataFrame with requirements for Most Popular Items
most_popular_items_df = pd.DataFrame({
    'Purchase Count':pur_count,
    'Item Price':item_price,
    'Total Purchase Value':tot_pur_value
})

# Copy DataFrame for use in next activity
mpi_df = most_popular_items_df

# Format DataFrame
most_popular_items_df = most_popular_items_df.sort_values('Purchase Count', ascending=False)
most_popular_items_df['Item Price'] = most_popular_items_df['Item Price'].map("${:.2f}".format)
most_popular_items_df['Total Purchase Value'] = most_popular_items_df['Total Purchase Value'].map("${:.2f}".format)

# Show Summary
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# Sort DataFrame in new way
mpi_df = mpi_df.sort_values('Total Purchase Value', ascending=False)

# Format DataFrame
mpi_df['Item Price'] = mpi_df['Item Price'].map("${:.2f}".format)
mpi_df['Total Purchase Value'] = mpi_df['Total Purchase Value'].map("${:.2f}".format)

# Show summary
mpi_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80